<% var title = 'Profil' %>
<% include head %>

<h1>Profil</h1>
Bonjour <b><%=prenom%> <%=nom%></b> !

<div id = "profil">
    <!--
    <tr>
       <td rowspan = 1><img src="<%=profilepic%>" height="30" width="30"></td>
        <td><%=prenom%></td>
        <td><%=nom%></td>
    </tr>
    -->
    <div>
        <h1><center>Dessins en attente</center></h1>

        <form method="post" action="/profile">
        <% for(var i = 0 ; i < res.length ; i++) { %>
            <p><b>Dessin n°<%= i+1 %>:</b></p>
            <% var wname = "rep"+  res[i].id %>
            <p>Emetteur : <%= res[i].email %></p>
            <p>Image: <img src=<%= res[i].picture %> height="60" width="60"></p>
            <p>Réponse: <input type="text" name=<%= wname %> placeholder= <%= res[i].response %>></p>
        <% } %>
            <center><input type="submit" name="btn"></center>
        </form>
    </div>

</div>

<!-- <a href="/inscription">Inscription</a> -->
<% include foot %>