<% var title = 'Profil' %>
<% include head %>

<h1>Profil</h1>
Bonjour <b><%=prenom%> <%=nom%></b> !

<div id = "profilAdmin">
    <!--
    <tr>
       <td rowspan = 1><img src="<%=profilepic%>" height="30" width="30"></td>
        <td><%=prenom%></td>
        <td><%=nom%></td>
    </tr>
    -->
    <div>
        <h1><center>Liste des dessins</center></h1>

        <form method="post">
        <% for(var i = 0 ; i < res.length ; i++) { %>
            <p><b>Dessin n°<%= i+1 %>:</b></p>
            <table>
                <tr>
                    <th>Emetteur</th>
                    <th>Destinataire</th>
                    <th>Image</th>
                    <th>Réponse</th>
                    <th>Réponse donnée</th>
                </tr>
                <tr>
                    <td width="250"><center><%= res[i].email %></center></td>
                    <td width="250"><center><%= res[i].dest %></center></td>
                    <td> <center><img src=<%= res[i].picture %> height="60" width="60"></center></td>
                    <td width="200"><center><%=res[i].text%></center></td>
                    <td width="200"><center><%=res[i].response%></center></td>
                </tr>
            </table>
        <% } %>
        </form>
    </div>

</div>

<!-- <a href="/inscription">Inscription</a> -->
<% include foot %>